<!DOCTYPE html>
<html>
    <head>
        <title> Pomodoro Clock</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="./libraries/jquery-2.2.4.min.js"></script>
        <script src="./libraries/angular1_6_1.min.js"></script>
        <script src="./main.js" ></script>
        <!-- <script src="./libraries/jquery.animate-shadow-min.js"></script> -->
        <!--<script src="./libraries/angular-ui-router.min.js"></script>-->
        <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
        <script src="./libraries/bootstrap.js"></script>
        <link href="./libraries/bootstrap.min.css" rel="stylesheet" >
        <link href="./libraries/bootstrap-theme.min.css" rel="stylesheet"></link>
        <link href="./libraries/main.css" rel="stylesheet"></link>



    </head>
    <!-- sass --watch main.scss:main.css --style compressed -->
    <!-- http-server -o -->

    <!--

    *User Story: I can start a 25 minute pomodoro, and the timer will go off once 25 minutes has elapsed.

    *User Story: I can reset the clock for my next pomodoro.

    *User Story: I can customize the length of each pomodoro.

    Can I stop the timer?
    Can I adjust it when it is running?

    -->


    <!-- issues:

            - the filter itself doesn't work for certain time frames
                  -right side 01
                  - adjust should take current time as the default


            - When I adjusted the algorithm, it will not only not stop
            when I ask it too. But it doubles down in speed. Why?
            It seems do this on lower numbers. 8-10 min
            By adjusting algorithm I mean, I put the main convert to convert_seconds
            function outside of the filter itself and then turned the return into
            an array. This way I can reuse the function elsewhere.
                -->



    <body ng-app="tomatoApp" ng-controller="mainCtrl as main">
        <div class="container" >
            <h1>Pomodoro Clock <small>Angular Powered</small></h1>
            <br>
            <br>

            <div class="btnwrapper">
              <button ng-click="main.startstop()" class="btn">Start/Stop</button>
              <button ng-click="main.reset()" class="btn">Reset</button>
              <button ng-click="main.adjust()" class="btn" >Adjust</button>
              <!-- <button ng-click="main.alarm()" class="btn" >Adjust</button> -->

            </div>
            <!-- <h1 id="alarmtext">TIMES UP</h1> -->
            <br><br><br>
            <div id="clock">


              <img src="./mytomato.png"></img>
              <h1 ng-hide="main.adjuststate">{{main.timernumber | minsecFormat}}</h1>
              <div class="centertomatoinput" ng-show="main.adjuststate">
                <input type="number" min="0" max="99" ng-model="main.adjustmin" ></input>
                <span>:</span>
                <input type="number" min="0" max="59" ng-model="main.adjustsec"></input>
                <br>
                <button ng-show="main.adjuststate" class="btn" ng-click="main.adjustfinish()">Done</button>

              </div>
            </div>
        </div>
    </body>



</html>
