
#clock_wrapper
{
  margin-left: auto 0;
  margin-right:auto 0;
  position: inherit;

}
#clock
{
  cursor:pointer;
  position:relative;
  left: 0;
  right: 0;
  // width:100%;
  margin: 0;

  img
  {
    position:absolute;
    top:0px;
    left:0px;
    -webkit-filter: drop-shadow(10px 10px 7px rgba(0,0,0,0.4));

  }

  .centertomatoinput
  {
    position: absolute;
    top:300px;
    left:180px;
    input
    {
      // vertical-align:middle;
      height:100px;
      width: 130px;
      font-size:100px;
      direction: rtl;

    }

    span
    {
      color:white;
      font-weight: 900;
      font-size:100px;
    }

    button
    {
      width: 300px;
      color:red;
      background-color: white;
      font-weight: 900;
    }


  }

  h1
  {
    color:white;
    font-weight: 900;
    font-size:100px;
    position: absolute;
    top:300px;
    // left:130px;
    // left:308px;
    left:180px;

    // stem is 65 pix, height is 670
    // 670-65= 605, so around 300 is center from top
    // 616 width, 308 is half, but that puts it to the left from the left
    //348px is text
    //difference between tomato width and text width 616 - 348 = 268/2 = 134 on each side
    // edge of the font
  }

}


.btnwrapper
{
  // position:relative;
  // left: 0;
  // right: 0;
  // // width:100%;
  // margin-left: auto 0;
  // margin-right:auto 0;
  text-align: center;
  width: 616px;
  // margin-bottom: 20px;
  button:first-child, button:nth-child(2)
  {
    margin-right:30px;
  }

  button
  {

    height: 40px;
    width: 150px;
    font-weight: 800;
    color: white;
    background-color: red;

    &:hover, &:focus
    {
      color:white !important;
    }

  }

}
